
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');


body {
  margin: 0;
  background: #EB3349;
  background: -webkit-linear-gradient(to bottom, #F45C43, #EB3349);
  background: linear-gradient(to bottom, #F45C43, #EB3349);
  height: 100vh;
  /* color: white; */
}


/* random.date.css */
.DateApp {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* height: 100vh; */
}

.App {
  
}

.heading {
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Nanum Myeongjo', serif;
  margin-top: 80px;
  color: white;
  font-size: 70px;
  text-align: center;
}

.description {

  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Lobster', cursive;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  max-width: 700px;
  /* margin-left: 150px; */
  text-align: center;

}

.button{
  /* margin-left: 150px; */
  text-align: center;

}

.link {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
  padding-top: 100px;
  /* text-decoration: none; */
}

.link:hover {
  border-color: black; /* Change the link color to white on hover */
  text-decoration: underline; 
}